.App {
  text-align: center;
  overflow-x: hidden;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar {
  position:relative;
  background-color: #333;
  width: 100vw;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.NavBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.NavBar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.NavBar a.active {
  background-color: #04AA6D;
  color: white;
}



.container {
  position:relative;
  min-height:100vh;
  display:grid;
  min-width: 100vw;
  overflow-x: hidden;
  padding:0;
  max-height: 100vw;
  background-color: whitesmoke;
  text-align: center;
  align-items: center;
}
.main-card {

  padding: 10px;
  margin: auto;
  margin-top: 20vh;
  width: 100%;
  /* border: 3px solid green; */
  
}

.table-card {

  /* padding: 10px;
  margin: auto;
  margin-top: 20vh; */
  background-color: red;
  
  min-height: 100vh;
  margin-bottom: 25vh;
  width: 100%;
  border: px dotted rgb(0, 0, 0);
  
}

.favorited-list {

  /* padding: 10px;
  margin: auto;
  margin-top: 20vh; */
  overflow-x:wrap;
  row-gap: 200px;
  width:40%;
  /* width: 5%; */
  /* border: 3px solid green; */
  
}
.favorited-list li{

  
  margin-top: 3vh;
  overflow-x:wrap;

  /* border: 3px solid green; */
  
}
.search-card {
  display:flex;
}
.search-button {
  margin-top: 5px;
  border-radius: 10px;
  height:fit-content;
  border: none;
  padding-left: 10px;
  padding-right: 10px;

}

.dropdown-card {

  /* padding: 10px;
  margin: auto;
  margin-top: 20vh; */
  margin-bottom: 25vh;
  /* overflow-y: visible; */
  height:30vh;
  width: 90%;
  border: 3px dotted rgb(0, 0, 0);
  align-items: right;
  justify-content: right;
  padding: 10%;
  
  
}

.dropdown {
  /* display:static; */
  
}
